@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="well">
    <h1>Hello @ViewBag.displayName ( @ViewBag.user )</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hello Windows Container</h2>
    </div>
</div>